BethanysPieShopHRM.ComponentsLibrary/bin/Debug
BethanysPieShopHRM.Shared/bin
BethanysPieShopHRM.Shared/obj
BethanysPieShopHRM.Server/bin
BethanysPieShopHRM.ComponentsLibrary/obj
BethanysPieShopHRM.Server/obj
BethanysPieShopHRM.Shared/obj
BethanysPieShopHRM.Api/obj/Debug
BethanysPieShopHRM.Api/bin
BethanysPieShopHRM.Api/obj
